/* Geral*/
* {
  padding: 0;
  margin: 0;
  font-family: helvetica;
  color: #333;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: #172a3a;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 3rem;
  color: #fff;
}
.todo-container {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(255, 255, 255, 0.897) 0px 0px 0px 3px;
  border-radius: 10px;
}
p {
  color: #fff;
}
h4 {
  color: #fff;
}
h3 {
  color: #fff;
}
button {
  background-color: antiquewhite;
  color: #32558a;
  border: 2px solid #34507a;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #32558a;
  color: antiquewhite;
}
button:hover > i {
  color: antiquewhite;
}
button i {
  color: #32558a;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* header */

/* tarefa-form*/
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-controle {
  display: flex;
}
.form-controle input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

/* tarebar */
#tarebar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#tarebar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* Tarefa List */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background-color: #3c6d9ed0;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}
